{% load static %}


<div class="accreditation_block">
    <div class="wrap">
        <div class="order-service-h">Аккредитация</div>
        <div class="accreditation_container">
            <img src="{% static 'main/images/attestat_aqua.jpg' %}" class="accreditation-image" alt="Аттестат аккредитации">
            <div class="accreditation_info">
                <p>Аттестат аккредитации выдан Федеральной службой по аккредитации "Росаккредитация" в соответствии с требованиями предъявляемыми к метрологическим службам.</p>
                <p>Мы вносим данные о поверке в систему ФГИС "Аршин"</p>
                <div class="accreditation_btn">
                    <a class="button-orange" href="https://pub.fsa.gov.ru/ral/view/31426/accreditation" target="_blank">Посмотреть аккредитацию</a>
                </div>
            </div>
        </div>
    </div>
</div>
