{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}


<!-- Основной блок -->
{% include 'main/include/main_block.html' %}

<!-- Блок для заказа обратного звонка -->
{% include 'main/include/callback_form.html' %}

<!-- Блок с аккредитацией -->
{% include 'main/include/accreditation_block.html' %}

<!-- Блок как мы работаем -->
<div class="how-we-work-block">
    <div class="wrap">
        <div class="order-service-h">Как мы работаем</div>
        <ul>
            <li>
                <span>1</span>
                <p>Клиент оставляет заявку на сайте или по телефону</p>
            </li>
            <li>
                <span>2</span>
                <p>Мастер приезжает в заранее оговоренное время</p>
            </li>
            <li>
                <span>3</span>
                <p>Выполняет поверку и составляет документы о поверку</p>
            </li>
            <li>
                <span>4</span>
                <p>Мы передаем данные о поверке в ФГИС "Аршин"</p>
            </li>
            <li>
                <span>5</span>
                <p>Клиент передает сведения о поверке через <a href="https://www.mos.ru/services/podacha-svedenij-o-poverke-schetchikov-vody/">mos.ru</a> или в УК</p>
            </li>
        </ul>
    </div>
</div>

<!-- Блок для заказа услуг -->
{% include 'main/include/order_service.html' %}

<!-- Блок с округами работы -->
<div class="county-block">
    <div class="wrap">
        <div class="order-service-h">Работаем во всех округах Москвы</div>
        <div class="county-container">
            <div class="county-img">
                <img src="{% static 'main/images/poverka_schetchikov_v_moskve.png' %}">
            </div>
            <div class="county-list">
                {% for c in county_list %}
                    <div class="county-item">
                        <a href="{% url 'main:index' c.slug %}">{{ c.name_county }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Блок с ценами -->
{% include 'main/include/price_block.html' %}

<!-- Блок Аккордеон FAQ -->
<div class="accordion-body">
    <div class="wrap">
        <div class="accordion">
            <div class="order-service-h">Ответы на частые вопросы</div>
            <hr>
            <div class="container">
                <div class="label">Что такое поверка счетчиков воды?</div>
                <div class="content"><p>Поверка счетчиков воды — это процесс проверки точности измерений, которые производит счетчик. Он необходим для подтверждения, что прибор работает корректно и соответствует установленным стандартам</p></div>
            </div>
            <hr>
            <div class="container">
                <div class="label">Как часто нужно проводить поверку счетчиков воды?</div>
                <div class="content"><p>Поверка счетчиков воды должна проводиться каждые 6 лет для холодной и горячей воды, на счетчики горячей воды выпущенные ранее ~2015 года интервал поверки может составлять 4 года, подробнее можно узнать в паспорте счетчика</p></div>
            </div>
            <hr>
            <div class="container">
                <div class="label">Кто может проводить поверку счетчиков воды?</div>
                <div class="content"><p>Поверку могут проводить только аккредитованные организации, имеющие соответствующие лицензии и оборудование для проверки</p></div>
            </div>
            <hr>
            <div class="container">
                <div class="label">Как проходит процесс поверки?</div>
                <div class="content"><p>Процесс поверки происходить без демонтажа счетчика с помощью переносной поверочной станции. Время поверки составляет 20-40 мин</p></div>
            </div>
            <hr>
            <div class="container">
                <div class="label">Что делать, если счетчик не прошел поверку?</div>
                <div class="content"><p>Если счетчик не прошел поверку, его необходимо заменить на новый. Важно сделать это в установленные сроки, чтобы избежать проблем с расчетами за воду</p></div>
            </div>
            <hr>
            <div class="container">
                <div class="label">Кто оплачивает поверку счетчиков воды?</div>
                <div class="content"><p>Оплата поверки, как правило, ложится на собственника счетчика. Однако в некоторых случаях управляющие компании могут включать эту услугу в свои тарифы</p></div>
            </div>
            <hr>
            <div class="container">
                <div class="label">Как записаться на поверку счетчика?</div>
                <div class="content"><p>Для записи на поверку необходимо обратиться в аккредитованную организацию, которая проводит поверку, и согласовать дату и время</p></div>
            </div>
            <hr>
            <div class="container">
                <div class="label">Нужно ли уведомлять управляющую компанию о проведении поверки?</div>
                <div class="content"><p>Да, после проведения поверки рекомендуется уведомить управляющую компанию и предоставить им акт о поверке для обновления данных, либо отправить сведения о поверке онлайн с помощью сервиса <a href="https://www.mos.ru/services/podacha-svedenij-o-poverke-schetchikov-vody/">mos.ru</a></p></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}