{% extends 'base.html' %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}

<div class="creating-recipe">
    <div class="h-center">
        <h2 class="h1">Политика конфиденциальности</h2>
    </div>
    <div class="privacy-policy-content">
        <p><strong>1. Общие положения</strong></p>
        <p>1.1. Настоящие Правила являются официальным документом и определяют порядок обработки и защиты информации о физических лицах, пользующихся услугами интернет-сайта "Метрологическая поверка" (далее — Сайт).</p>
        <p>1.2. Целью настоящих Правил является обеспечение надлежащей защиты информации о пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.</p>
        <p>1.3. Отношения, связанные со сбором, хранением, распространением и защитой информации о пользователях Сайта, регулируются настоящими Правилами и действующим законодательством Российской Федерации.</p>
        <p>1.4. Действующая редакция Правил, являющихся публичным документом, доступна любому пользователю сети Интернет при переходе по ссылке сайта. Администрация Сайта вправе вносить изменения в настоящие Правила. При внесении изменений в Правила Администрация Сайта уведомляет об этом пользователей путем размещения новой редакции Правил на Сайте по постоянному адресу не позднее, чем за 10 дней до вступления в силу соответствующих изменений. Предыдущие редакции Правил хранятся в архиве документации Администрации Сайта.</p>
        <p>1.5. Используя Сайт, включая оформление заказов или оставления каких-либо заявок, Пользователь выражает свое согласие с условиями настоящей Политики конфиденциальности. Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает согласие Администрации Сайта на обработку своих персональных данных как без использования средств автоматизации, так и с их использованием.</p>
        <p>1.6. В случае несогласия Пользователя с условиями настоящей Политики Конфиденциальности использование Сайта должно быть немедленно прекращено.</p>
        <p><strong>2. Условия пользования Сайтом</strong></p>
        <p>2.1. Оказывая услуги по использованию Сайта, Администрация Сайта, действуя разумно и добросовестно, считает, что Пользователь: обладает всеми необходимыми правами, позволяющими ему осуществлять использовать настоящий Сайт; указывает достоверную информацию о себе в объемах, необходимых для пользования Сайтом; ознакомлен с настоящей Политикой конфиденциальности и выражает свое согласие с ней и принимает на себя указанные в ней права и обязанности.</p>
        <p>2.2. Администрация Сайта не проверяет достоверность получаемой (собираемой) информации о пользователях, за исключением случаев, когда такая проверка необходима в целях исполнения Администрацией Сайта обязательств перед пользователем.</p>
        <p><strong>3. Цели обработки информации</strong></p>
        <p>3.1. Обработка информации о Пользователях осуществляется с целью предоставления Пользователю информации о продукции Сайта, а также в целях выполнения обязательств Администрации Сайта перед Пользователями в отношении использования Сайта, включая проведение рекламных и новостных рассылок.</p>
        <p><strong>4. Состав информации о пользователях</strong></p>
        <p>4.1. Персональные данные Пользователей</p>
        <p>Персональные данные Пользователей не являются общедоступными, и включают в себя:</p>
        <p>4.1.1. предоставляемые Пользователями и минимально необходимые для использования Сайта: имя, номер мобильного телефона, адрес электронной почты, адрес доставки заказываемой продукции.</p>
        <p>4.2. Иная информация о Пользователях, обрабатываемая Администрацией Сайта: Администрация Сайта обрабатывает также иную информацию о Пользователях, которая включает в себя:</p>
        <p>4.2.1. стандартные данные, автоматически получаемые http-сервером при доступе к Сайту и последующих действиях Пользователя (IР-адрес хоста, вид операционной системы пользователя, страницы Сайта, посещаемые пользователем).</p>
        <p>4.2.2. информация, автоматически получаемая при доступе к Сайту с использованием закладок (cookies).</p>
        <p><strong>5. Обработка информации о пользователях</strong></p>
        <p>5.1. Обработка персональных данных осуществляется на основе принципов:</p>
        <p>а) законности целей и способов обработки персональных данных;</p>
        <p>б) добросовестности;</p>
        <p>в) соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Администрации Сайта;</p>
        <p>г) соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных;</p>
        <p>д) недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные.</p>
        <p>5.1.1. Использование персональных данных с целью проведения рекламной и информационной рассылок происходит до момента отписки Пользователя от них через ссылку в получаемых письмах.</p>
        <p>5.1.2. Хранение и использование персональных данных Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием, как автоматизированных систем, так и лично официальным Сотрудником сайта.</p>
        <p>5.1.3. Персональные данные Пользователей не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящими Правилами. При указании Пользователя или при наличии согласия Пользователя возможна передача персональных данных Пользователя третьим лицам-контрагентам Администрации Сайта с условием принятия такими контрагентами обязательств по обеспечению конфиденциальности полученной информации. Предоставление персональных данных Пользователей по запросу государственных органов (органов местного самоуправления) осуществляется в порядке, предусмотренном законодательством.</p>
        <p><strong>6. Права и обязанности пользователей</strong></p>
        <p>6.1. Пользователи вправе:</p>
        <p>6.1.1. На основании запроса получать от Администрации Сайта информацию, касающуюся обработки его персональных данных.</p>
        <p>6.1.2. Отозвать согласие на обработку и хранение персональных данных путем направления электронного письма на e-mail адрес указанный на сайте.</p>
        <p>6.2. Сайт является официальным ресурсом и главной функцией Сайта является предоставление достоверной информации о продукции компании. Данные предоставленные Пользователями не видны другим Пользователям.</p>
        <p><strong>7. Меры по защите информации о Пользователях</strong></p>
        <p>7.1. Администрация Сайта принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.</p>
        <p><strong>8. Обращения пользователей</strong></p>
        <p>8.1. Пользователи вправе направлять Администрации Сайта свои запросы, в том числе запросы относительно использования их персональных данных в форме электронного документа, подписанного квалифицированной электронной подписью в соответствии с законодательством Российской Федерации.</p>
        <p>8.2. Администрация Сайта обязуется рассмотреть и направить ответ на поступивший запрос пользователя в течение 10 дней с момента поступления обращения.</p>
        <p>8.3. Вся корреспонденция, полученная Администрацией Сайта от Пользователей, относится к информации ограниченного доступа и не разглашается без письменного согласия Пользователя. Персональные данные и иная информация о Пользователе, направившем запрос, не могут быть без специального согласия Пользователя использованы иначе, как для ответа по теме полученного запроса или в случаях, прямо предусмотренных законодательством.</p>
    </div>
</div>

{% endblock %}